<!DOCTYPE html>
<html lang="es">
  <!--===========HEAD=============-->
  <head>
    <!---------- metas ---------->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Dollargs: Convertí dólares a pesos argentinos de manera rápida y eficiente. Conocé el valor de tu plata fácilmente."
    />
    <meta
      name="keywords"
      content="dollargs, convertidor de dólares, pesos argentinos, cambio de moneda, dolarapi, valor del dólar, herramienta de conversión, dólar hoy, calculadora dólar a pesos argentinos, dólares a pesos argentinos, pesos argentinos a dólares, calculadora pesos argentinos a dólares"
    />
    <meta name="author" content="Juan Esparza R. [jesparzarom]" />
    <meta name="rights" content="jesparzarom" />
    <meta
      property="og:title"
      content="Dollargs: Convertí dólares a pesos argentinos de manera rápida y sencilla."
    />
    <meta
      property="og:description"
      content="Conocé el valor de tu dinero fácilmente con Dollargs."
    />
    <meta property="og:image" content="./src/img/dollargsicon.webp" />
    <meta property="og:type" content="website" />
    <meta property="image" content="./src/img/favicons/favicon-32x32.png" />

    <!-- Links -->
    <link
      rel="shortcut icon"
      href="./src/img/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./src/img/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./src/img/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./src/img/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="./src/img/favicons/site.webmanifest" />
    <link rel="stylesheet" href="./src/css/bootstrapmin/bootstrap.min.css" />
    <link rel="stylesheet" href="./src/css/style.css" />

    <!---------- title ---------->
    <title>Dollargs</title>

    <!-- Scripts -->
    <script src="./src/js/initialLoader.js" type="text/javascript"></script>
    <!-- Vue CDN -->
    <script
      src="https://unpkg.com/vue@3/dist/vue.global.js"
      type="text/javascript"
      defer
    ></script>
    <!-- Vue app -->
    <script
      type="module"
      src="./src/js/app.js"
      type="text/javascript"
      defer
    ></script>
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/cac8e89f4d.js"
      type="text/javascript"
      crossorigin="anonymous"
      async
    ></script>
  </head>

  <!--===========BODY=============-->
  <body class="bg-gradient-primary">
    <!-- Loader -->
    <div class="loader-container-container">
      <div class="loader-container" id="loaderContainer">
        <div
          id="loader"
          class="loader d-flex justify-content-center align-items-center"
        >
          <img
            src="./src/img/dollargsicontransparent.png"
            alt=""
            class="loader-img"
          />
        </div>
      </div>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg py-2 bg-color-dark hidde">
      <div class="container-fluid justify-content-center">
        <a class="navbar-brand text-center" href="#conversor">
          <img
            src="./src/img/dollargsicon.webp"
            class="img-fluid rounded-circle"
            alt="Icono de dollargs: Una moneda  metálica virtual en colores neón rosa, dorada y cyan."
            width="50px"
          />
          <h4 class="txt-color-accent1 txt-logo">Dollargs</h4>
        </a>
      </div>
    </nav>

    <main class="mb-5 pb-5 hidde" id="app">
      <!----------------------- VALUES -------------------------->
      <section class="text-color-dark py-5">
        <div class="container">
          <div class="row justify-content-center">
            <div
              class="col-sm-10 col-md-6 justify-content-center txt-color-accent2"
            >
              <!-- Bloque USD -->
              <div class="fs-2">
                <span class="txt-logo">USD</span>
                <span class="display-3 mt-2 txt-logo">
                  $ {{ dolares ? dolares.toLocaleString("es-AR") : 0 }}
                </span>
              </div>

              <!-- Bloque ARS -->
              <div class="mt-3">
                <span class="fs-2 txt-logo">ARS</span>
                <span class="display-3 mx-1 txt-logo">
                  $ {{ pesos ? pesos.toLocaleString("es-AR") : 0}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!----------------------- INPUTS -------------------------->
      <section class="container-fluid mb-5" id="conversor">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6">
            <div
              class="card bg-color-transparent pb-5 pt-3 px-3 shadow-lg border-0"
            >
              <!--  Titulo del conversor -->
              <h5
                class="text-center card mb-0 bg-transparent shadow-lg border-0"
              >
                {{ cardTitle }}
              </h5>

              <!-- Info del tipo de cambio -->
              <div class="hidde pt-3">
                <p class="fw-light small">
                  <i
                    class="fa-solid fa-circle-info"
                    style="color: #c100cfa2"
                  ></i
                  >&nbsp;
                  <span class="fw-bold">

                    {{ 
                      (tipo != 'contadoconliqui' ? ( tipo!="bolsa" ?
                      (tipo!="solidario" ? tipo.toUpperCase(): "TARJETA") :
                      "MEP") : "CCL") 
                    }}

                  </span>
                  : {{ descripcion }}
                </p>
              </div>

              <!-- select menu -->
              <div class="text-center">
                <select
                  class="form-select form-select-sm select bg-black"
                  aria-label="Small select"
                  data-bs-theme="dark"
                  v-model="tipo"
                  id="tipo"
                  @change="cambiarTipo"
                >
                  <option
                    v-for="(valor, nombre) in tipos"
                    class="txt-option option text-center"
                    :value="nombre"
                  >

                    {{ 
                      (nombre != 'contadoconliqui' ? ( nombre!="bolsa" ?
                      (nombre!="solidario" ? nombre.toUpperCase(): "TARJETA") :
                      "MEP") : "CCL") 
                    }}

                  </option>
                </select>
              </div>

              <!-- Inputs -->
              <div class="input-group mt-4 mb-0 text-center">
                <span
                  class="input-group-text bg-color-dark txt-superaccent border-2 border-dark"
                  id="basic-addon1"
                  >AR$</span
                >
                <input
                  type="number"
                  class="form-control border-dark shadow"
                  name="pesos"
                  id="pesos"
                  v-model="pesos"
                  @input="pesosXDolares"
                />
              </div>

              <div class="form-text mb-3 mt-0" id="basic-addon4">
                Pesos Argentinos a Dólares
              </div>

              <div class="input-group mb-0 mt-0 text-center">
                <span
                  class="input-group-text bg-color-dark txt-superaccent border-2 border-dark"
                  id="basic-addon1"
                  >U$D</span
                >
                <input
                  type="number"
                  class="form-control border-dark shadow"
                  name="dolares"
                  id="dolares"
                  v-model="dolares"
                  @input="dolaresXPesos"
                />
              </div>
              <div class="form-text mb-3" id="basic-addon4">
                Dólares a Pesos Argentinos
              </div>

              <div class="text-center">
                <button class="button" @click="refreshVals">Resetear</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="bg-light text-center text-lg-start mt-5 hidde">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">
              ¡Bienvenido a Dollargs, tu compañero confiable para convertir
              dólares a pesos (y viceversa) de manera rápida y sencilla!
            </h5>
            <p>
              ¿Estás pensando en cuánto valen tus dólares en pesos argentinos?
              ¡No busques más! Dollargs es la herramienta ideal para obtener la
              respuesta al toque.
            </p>
            <p>
              Nuestra interfaz fácil de usar te permite ingresar la cantidad de
              dólares o pesos que tenés, ¡y listo! Dollargs hará la conversión
              al instante. Ya sea que estés planeando un viaje, comprando en
              línea o simplemente curioseando, Dollargs está acá para ayudarte a
              entender el valor de tu plata.
            </p>
            <p>
              No te preocupes si no sos un experto en finanzas; diseñamos
              Dollargs para que sea intuitivo y accesible para todos. Solo tenés
              que ingresar la cantidad en la moneda que tengas, elegir el tipo
              de cambio que prefieras en el menú desplegable y voilà.
            </p>
            <p>
              Así que, la próxima vez que te preguntes cuántos pesos vas a
              conseguir por tus dólares, o cuantos dólares podés comprar con tus
              pesos ¡acordate de Dollargs! Estamos acá para hacer que las
              conversiones de guita sean simples y sin complicaciones.
            </p>
            <p>
              ¡Explorá Dollargs ahora y descubrí el verdadero valor de tu plata!
            </p>
          </div>
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <div>
              <img
                src="./src/img/dollargsboy2.webp"
                alt="Dibujo digital estilo animé de hombre con gafas de neon rodeado de dólares"
                class="cover-image rounded-4"
              />
            </div>
            <hr />
            <code>Dollargs Beta 1.0.1</code>
          </div>
        </div>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        Created and maintained by
        <a
          class="text-dark"
          href="https://github.com/Jesparzarom/dollargs"
          target="_blank"
          >&nbsp;<i class="fab fa-github fa-1x"></i>&nbsp;jesparzarom</a
        >
      </div>
    </footer>

    <!---------- Bootstrap 5 Bundle Js -------->
    <script src="./src/css/bootstrapmin//bootstrap.bundle.min.js"></script>
  </body>
</html>
