@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Martel:wght@400;700&family=Mukta+Vaani:wght@300;400;700&family=Mulish:wght@300;400;700&family=Taviraj:wght@300;400;700&display=swap');

:root {
    /*  Backgrounds */
    --color-light: #f2f2f2;
    --color-dark: #000000;
    --color-accent1: #14f5c6;
    --color-accent2: rgba(0, 0, 0, 0.767);
    --color-accent3: #130224;
    --color-accent-dark: #0c704c;
    --color-superaccent: #ED9B33;
    --color-transparent: #ffffff56;

    /* Fonts */
    --font-logo: 'Abril Fatface', serif;
    /* Main. Logo */
    --font-martel: 'Martel', serif;
    /*  */
    --font-mukta: 'Mukta Vaani', sans-serif;
    --font-mulish: 'Mulish', sans-serif;
    /*  */
    --font-taviraj: 'Taviraj', serif;
    /* Texts */
}

/**********************************************************
************************* TAGS ****************************
***********************************************************/
body {
    font-family: var(--font-mukta);
}

input {
    background-color: var(--color-light) !important;
    cursor: pointer
}

input:hover h1,
h2,
h3 {
    font-family: var(--font-logo);
}

button,
a,
h4,
h5,
h6 {
    font-family: var(--font-mukta);
}

p,
li,
input {
    font-family: var(--font-taviraj);
}

.select {
    border: 1px solid var(--color-accent1);
    border-radius: 10px !important;
    box-shadow: 2px 2px var(--color-accent1);
    cursor: pointer;
}

.option {
    color: rgba(0, 255, 191, 0.856);
    border-radius: 10px !important;
}

.option:hover {
    background-color: var(--color-accent1) !important;
    cursor: pointer;
}


/***************************************************+
******************** TEXT FONTS *********************
*****************************************************/
.txt-logo {
    font-family: var(--font-logo) !important;
}


.txt-subtitles {
    font-family: var(--font-mukta);
}

.small {
    font-size: xx-small;
    text-align: justify;
}


/***************************************************+
********************* TEXT COLORS *******************
*****************************************************/
.txt-superaccent {
    color: var(--color-accent1) !important;
}

.txt-color-light {
    color: var(--color-light) !important;
}

.txt-color-dark {
    color: var(--color-dark) !important;
}

.txt-color-accent1 {
    color: var(--color-accent1);
}

.txt-color-accent2 {
    color: var(--color-accent2) !important;
}

.txt-color-accent3 {
    color: var(--color-accent3) !important;
}

.txt-color-accent-dark {
    color: var(--color-accent-dark);
}



/***************************************************+
******************* BACKGROUNDS *********************
*****************************************************/
.bg-color-light {
    background-color: var(--color-light);
}

.bg-color-dark {
    background-color: var(--color-dark);
    color: white;
}

.bg-color-accent1 {
    background-color: var(--color-accent);
}

.bg-color-accent2 {
    background-color: var(--color-accent);
}

.bg-color-accent3 {
    background-color: var(--color-accent3) !important;
}

.bg-color-transparent {
    background-color: var(--color-transparent) !important;
}

.bg-color-super {
    background-color: var(--color-superaccent);
}

.bg-gradient-primary {
    background: #BE93C5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7BC6CC, #BE93C5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cover-image {
    width: 100%;
    height: 350px;
    object-fit: cover;     
    user-select: none; 
}

.footer-title {
    color:#bd00c0 !important;
}

/***************************************************+
****************** UI ELEMENTS **********************
*****************************************************/
button {
    background: var(--color-accent1);
    font-family: inherit;
    padding: 0.2em 0.6em;
    font-weight: 900;
    font-size: 15px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.btn-coffe {
    background-color: #14f5c6 !important;
    box-shadow: 2px 2px 0px 2px #bd00c0 !important;
}

.btn-coffe:hover {
    background-color: #14f5c400 !important;
    color: #14f5c6 !important;
    box-shadow: 0px 0px 0px 1px #14f5c6 !important;
}

.loader-container {
    background: #bdb3b3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(365deg, #71e1e9, #be93c5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(365deg, rgba(0, 18, 185, 0.103), #ce18731a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 15em;
    height: 15em;
    background: linear-gradient(-45deg, #d85e9b 0%, #316cc4 100%);
    animation: spin 10s infinite;
    border-radius: 50%;
}

.loader::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, rgb(191, 0, 194)rgb(0, 187, 190) 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.loader-img {
    width: 85%;
    opacity: 90%;
    animation: imgspin 10s infinite;
    border-radius: 50%;
   
    
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5000deg);
        border-radius: 50%;
    }

    100% {
        transform: rotate(20deg);
    }
}

@keyframes imgspin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(5000deg);
        border-radius: 50%;
    }

    100% {
        transform: rotate(-20deg);
    }
}

/***************************************************+
****************** ACTIONS **********************
*****************************************************/
.hidde {
    display: none;
}

